<li class="alert alert-primary" role="alert">
  <div class="d-flex justify-content-between mb-3">
    <span>{{courseItem.title}}</span>
    <div>
      <vc-duration [duration]="courseItem.duration"></vc-duration>
      <vc-creation-date [date]="courseItem.creationDate"></vc-creation-date>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <span>{{courseItem.description}}</span>
    <div>
      <vc-edit-button [itemId]="courseItem.id" (editItemByIdEvent)="editItem($event)"></vc-edit-button>
      <vc-delete-button [itemId]="courseItem.id" (deleteItemByIdEvent)="deleteItem($event)"></vc-delete-button>
    </div>
  </div>
</li>