<li class="alert alert-primary" role="alert" vcCourseHighlightBinding [date]="courseItem.creationDate"
[ngClass]="{'bg-info': courseItem.topRated}">
  <div class="d-flex justify-content-between mb-3">
    <div>
      <span class="mr-3">{{courseItem.title | uppercase}}</span>
      <vc-course-star *ngIf="courseItem.topRated"></vc-course-star>
    </div>
    <div>
      <vc-duration [courseDuration]="courseItem.duration"></vc-duration>
      <vc-creation-date [date]="courseItem.creationDate"></vc-creation-date>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <span>{{courseItem.description}}</span>
    <div>
      <vc-edit-button [itemId]="courseItem.id" (editItemByIdEvent)="editItem($event)"></vc-edit-button>
      <vc-delete-button [itemId]="courseItem.id" (deleteItemByIdEvent)="deleteItem($event)"></vc-delete-button>
    </div>
  </div>
</li>