<div id="id01" class="modal">
  <form class="modal-content animate">
    <p class="ml-3 title h3">Login</p>

    <div class="form-container">
      <label for="uname" class="label-left"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw" class="label-left"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit" class="rounded btn-success" (click)="$event.preventDefault(); onLoginButtonClick()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <button type="button" (click)="$event.preventDefault(); onCancelButtonClick()" class="cancelbtn rounded btn-success">Cancel</button>
    <span class="psw-forgot">Forgot <a href="#">password?</a></span>
  </form>
</div>
